.profile__edit-button {
  background-image: url(../../../images/edit-button.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  opacity: 1;
  transition: opacity .3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}