.header__logo {
  background-image: url(../../../images/logo.png);
  width: 103.74px;
  height: 24.4px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 27px;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
  }
}